.-smt {
  margin-top: ($global-padding / 2) !important;
}

.-sml {
  margin-left: ($global-padding / 2) !important;
}

.-smb {
  margin-bottom: ($global-padding / 2) !important;
}

.-smr {
  margin-right: ($global-padding / 2) !important;
}

.-nmt {
  margin-top: 0 !important;
}

.-nml {
  margin-left: 0 !important;
}

.-nmb {
  margin-bottom: 0 !important;
}

.-nmr {
  margin-right: 0 !important;
}


.-lmt {
  margin-top: ($global-padding * 1.75) !important;
}

.-lml {
  margin-left: ($global-padding * 1.75) !important;
}

.-lmb {
  margin-bottom: ($global-padding * 1.75) !important;
}

.-lmr {
  margin-right: ($global-padding * 1.75) !important;
}