.-db {
  display: block !important;
}

.-cursor-pointer {
  cursor: pointer !important;
}

.-nowrap {
  white-space: nowrap;
}

.-scroll-y {
  overflow-y: auto !important;
}

.-of-hidden {
  overflow: hidden !important;
}

.-of-visible {
  overflow: visible !important;
}