.-np {
  padding: 0 !important;
}
.-npt {
  padding-top: 0 !important;
}
.-npb {
  padding-bottom: 0 !important;
}
.-npl {
  padding-left: 0 !important;
}
.-npr {
  padding-right: 0 !important;
}

.-spb {
  padding-bottom: ($global-padding / 2) !important;
}

.-pb {
  padding-bottom: $global-padding !important;
}

.-pr {
  padding-right: $global-padding !important;
}