<h2>Misc Options</h2>

<p class="medium-7 large-4">Additional <strong>ember-cli-g-maps</strong> configuration options include:</p>

<div class="gmaps-snippet -lmb">
  <header>config/environment.js</header>
  <code>
    <div class="gist">
      <div class="gist-file">
        <div class="gist-data">
          <div class="js-gist-file-update-container js-task-list-container file-box">
            <div id="file-ember-cli-g-maps__app-js" class="file">
              <div class="blob-wrapper data type-javascript">
                <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                  <tbody><tr>
                    <td id="file-ember-cli-g-maps__app-js-L1" class="blob-num js-line-number" data-line-number="1"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">ENV</span>.googleMap <span class="pl-k">=</span> {</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L2" class="blob-num js-line-number" data-line-number="2"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC2" class="blob-code blob-code-inner js-file-line">  version<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>3<span class="pl-pds">'</span></span>, <span class="pl-c">// not recommended</span></td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L3" class="blob-num js-line-number" data-line-number="3"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC3" class="blob-code blob-code-inner js-file-line">}</td>
                  </tr>
                </tbody></table>
              </div>
            </div>
          </div>
        </div>
        <div class="gist-meta">
          made with ❤ by <a href="https://github.com">GitHub</a>
        </div>
      </div>
    </div>
  </code>
</div>