<main class="grid-block l-main">
  <aside class="grid-block medium-3 vertical show-for-medium">
    <nav class="th-google-sidebar">
      <ul class="th-google-sidebar__links">
        <li><a>Performance</a><a>UI Practices</a></li>
      </ul>
    </nav>
  </aside>

  <div class="grid-block small-12 medium-9 vertical -of-visible">
    <h1 class="th-google-chapter-header">
      <span class="gmaps-hamburger-icon show-for-small--inline"></span>
      Miscellaneous
    </h1>
    <section class="grid-content -of-visible -np">
      Additional documentation is coming soon!
    </section>
  </div>
</main>