<h2>Polygons</h2>

<p class="medium-7 large-5">
  <a href="https://developers.google.com/maps/documentation/javascript/3.exp/reference#Polygon" target="_blank">Goolge Map Polygons</a> allow you to draw geometric shapes on your map. Polygons support interactions, editing, skinning, and dragging.
</p>

<div class="grid-block -spb">
  <div class="grid-content small-12 medium-3 -smb">
    <small class="-db">Path</small>
    <small>{{polygonPathStr}}</small>
  </div>

  <div class="grid-content small-12 medium-3 -smb">
    <small class="-db">Points</small>
    {{polygon.paths.length}}
  </div>

  <div class="grid-content small-12 medium-3 -smb">
    <small class="-db">Is Dragging</small>
    {{isPolygonDragging}}
  </div>
</div>

<div class="grid-content -np -lmb">
  {{g-maps class="gmaps-docs-map" lat=lat lng=lng zoom=zoom polygons=polygons}}
</div>

<article class="grid-block">
  <div class="grid-content gmaps-snippet">
    <header>Supported Polygon Config</header>
    <code>
      <div class="gist">
        <div class="gist-file">
          <div class="gist-data">
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-templa-js" class="file">
                <div class="blob-wrapper data type-javascript">
                  <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                    <tbody><tr>
                      <td id="file-templa-js-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-templa-js-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-k">export</span> <span class="pl-k">default</span> Ember.Route.extend({</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L2" class="blob-num js-line-number" data-line-number="2"></td>
                      <td id="file-templa-js-LC2" class="blob-code blob-code-inner js-file-line">  <span class="pl-en">setupController</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">controller</span>) {</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L3" class="blob-num js-line-number" data-line-number="3"></td>
                      <td id="file-templa-js-LC3" class="blob-code blob-code-inner js-file-line">    controller.setProperties({</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L4" class="blob-num js-line-number" data-line-number="4"></td>
                      <td id="file-templa-js-LC4" class="blob-code blob-code-inner js-file-line">      <span class="pl-c">// Must be an Ember Array</span></td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L5" class="blob-num js-line-number" data-line-number="5"></td>
                      <td id="file-templa-js-LC5" class="blob-code blob-code-inner js-file-line">      polygons<span class="pl-k">:</span> Ember.A([</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L6" class="blob-num js-line-number" data-line-number="6"></td>
                      <td id="file-templa-js-LC6" class="blob-code blob-code-inner js-file-line">        {</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L7" class="blob-num js-line-number" data-line-number="7"></td>
                      <td id="file-templa-js-LC7" class="blob-code blob-code-inner js-file-line">          id<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>unique-id<span class="pl-pds">'</span></span>, <span class="pl-c">// Recommended</span></td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L8" class="blob-num js-line-number" data-line-number="8"></td>
                      <td id="file-templa-js-LC8" class="blob-code blob-code-inner js-file-line">          paths<span class="pl-k">:</span> [ <span class="pl-c">// Required</span></td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L9" class="blob-num js-line-number" data-line-number="9"></td>
                      <td id="file-templa-js-LC9" class="blob-code blob-code-inner js-file-line">            [<span class="pl-c1">35.0041</span>, <span class="pl-k">-</span><span class="pl-c1">88.1955</span>] <span class="pl-c">// Lat, Lng</span></td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L10" class="blob-num js-line-number" data-line-number="10"></td>
                      <td id="file-templa-js-LC10" class="blob-code blob-code-inner js-file-line">          ],</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L11" class="blob-num js-line-number" data-line-number="11"></td>
                      <td id="file-templa-js-LC11" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">click</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">polygon</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L12" class="blob-num js-line-number" data-line-number="12"></td>
                      <td id="file-templa-js-LC12" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">rightclick</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">polygon</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L13" class="blob-num js-line-number" data-line-number="13"></td>
                      <td id="file-templa-js-LC13" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">dblclick</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">polygon</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L14" class="blob-num js-line-number" data-line-number="14"></td>
                      <td id="file-templa-js-LC14" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">mouseover</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">polygon</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L15" class="blob-num js-line-number" data-line-number="15"></td>
                      <td id="file-templa-js-LC15" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">mouseout</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">polygon</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L16" class="blob-num js-line-number" data-line-number="16"></td>
                      <td id="file-templa-js-LC16" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">mouseup</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">polygon</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L17" class="blob-num js-line-number" data-line-number="17"></td>
                      <td id="file-templa-js-LC17" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">mousedown</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">polygon</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L18" class="blob-num js-line-number" data-line-number="18"></td>
                      <td id="file-templa-js-LC18" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">mousemove</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">polygon</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L19" class="blob-num js-line-number" data-line-number="19"></td>
                      <td id="file-templa-js-LC19" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">drag</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">polygon</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L20" class="blob-num js-line-number" data-line-number="20"></td>
                      <td id="file-templa-js-LC20" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">dragstart</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">polygon</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L21" class="blob-num js-line-number" data-line-number="21"></td>
                      <td id="file-templa-js-LC21" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">dragend</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">event</span>, <span class="pl-smi">polygon</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L22" class="blob-num js-line-number" data-line-number="22"></td>
                      <td id="file-templa-js-LC22" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">set_at</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">polygon</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L23" class="blob-num js-line-number" data-line-number="23"></td>
                      <td id="file-templa-js-LC23" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">insert_at</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">polygon</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L24" class="blob-num js-line-number" data-line-number="24"></td>
                      <td id="file-templa-js-LC24" class="blob-code blob-code-inner js-file-line">          <span class="pl-en">remove_at</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">polygon</span>) {},</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L25" class="blob-num js-line-number" data-line-number="25"></td>
                      <td id="file-templa-js-LC25" class="blob-code blob-code-inner js-file-line">          clickable<span class="pl-k">:</span> <span class="pl-c1">true</span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L26" class="blob-num js-line-number" data-line-number="26"></td>
                      <td id="file-templa-js-LC26" class="blob-code blob-code-inner js-file-line">          draggable<span class="pl-k">:</span> <span class="pl-c1">true</span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L27" class="blob-num js-line-number" data-line-number="27"></td>
                      <td id="file-templa-js-LC27" class="blob-code blob-code-inner js-file-line">          editable<span class="pl-k">:</span> <span class="pl-c1">true</span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L28" class="blob-num js-line-number" data-line-number="28"></td>
                      <td id="file-templa-js-LC28" class="blob-code blob-code-inner js-file-line">          fillColor<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>#03a9f4<span class="pl-pds">'</span></span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L29" class="blob-num js-line-number" data-line-number="29"></td>
                      <td id="file-templa-js-LC29" class="blob-code blob-code-inner js-file-line">          fillOpacity<span class="pl-k">:</span> <span class="pl-c1">0.3</span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L30" class="blob-num js-line-number" data-line-number="30"></td>
                      <td id="file-templa-js-LC30" class="blob-code blob-code-inner js-file-line">          strokeColor<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>#03a9f4<span class="pl-pds">'</span></span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L31" class="blob-num js-line-number" data-line-number="31"></td>
                      <td id="file-templa-js-LC31" class="blob-code blob-code-inner js-file-line">          strokeOpacity<span class="pl-k">:</span> <span class="pl-c1">0.8</span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L32" class="blob-num js-line-number" data-line-number="32"></td>
                      <td id="file-templa-js-LC32" class="blob-code blob-code-inner js-file-line">          geodesic<span class="pl-k">:</span> <span class="pl-c1">true</span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L33" class="blob-num js-line-number" data-line-number="33"></td>
                      <td id="file-templa-js-LC33" class="blob-code blob-code-inner js-file-line">          strokePosition<span class="pl-k">:</span> google.maps.StrokePosition.CENTER, <span class="pl-c">// INSIDE | OUTSIDE</span></td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L34" class="blob-num js-line-number" data-line-number="34"></td>
                      <td id="file-templa-js-LC34" class="blob-code blob-code-inner js-file-line">          strokeWeight<span class="pl-k">:</span> <span class="pl-c1">3</span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L35" class="blob-num js-line-number" data-line-number="35"></td>
                      <td id="file-templa-js-LC35" class="blob-code blob-code-inner js-file-line">          visible<span class="pl-k">:</span> <span class="pl-c1">true</span>,</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L36" class="blob-num js-line-number" data-line-number="36"></td>
                      <td id="file-templa-js-LC36" class="blob-code blob-code-inner js-file-line">          zIndex<span class="pl-k">:</span> <span class="pl-c1">999</span></td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L37" class="blob-num js-line-number" data-line-number="37"></td>
                      <td id="file-templa-js-LC37" class="blob-code blob-code-inner js-file-line">        }</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L38" class="blob-num js-line-number" data-line-number="38"></td>
                      <td id="file-templa-js-LC38" class="blob-code blob-code-inner js-file-line">      ])</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L39" class="blob-num js-line-number" data-line-number="39"></td>
                      <td id="file-templa-js-LC39" class="blob-code blob-code-inner js-file-line">    });</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L40" class="blob-num js-line-number" data-line-number="40"></td>
                      <td id="file-templa-js-LC40" class="blob-code blob-code-inner js-file-line">  }</td>
                    </tr>
                    <tr>
                      <td id="file-templa-js-L41" class="blob-num js-line-number" data-line-number="41"></td>
                      <td id="file-templa-js-LC41" class="blob-code blob-code-inner js-file-line">});</td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
            </div>
          </div>
          <div class="gist-meta">
            made with ❤ by <a href="https://github.com">GitHub</a>
          </div>
        </div>
      </div>
    </code>
  </div>
</article>

<p class="medium-7 large-5">
  For in depth documentation and further customization you can read more in <a href="https://developers.google.com/maps/documentation/javascript/3.exp/reference#Polygon" target="_blank">the Google Maps Polygon Docs.</a>
</p>