@import 'settings';

.th-google-button {
  @extend %google-button;

  font-size: rem-calc(14);
  font-weight: 500;
  text-overflow: ellipsis;
  text-transform: uppercase;
  text-decoration: none;
  line-height: rem-calc(20);

  color: $primary-color;
  background-color: $google-white;

  outline: 0;
  border: 0;
  box-shadow: 0 1px 4px rgba(0,0,0,.37);
  border-radius: $google-radius;

  cursor: pointer;

  &.active {
    background-color: $primary-color;
    color: $google-white;
  }
}

.th-google-button--small {
  @extend .th-google-button;

  font-size: rem-calc(10);
  line-height: 1.1;
  height: rem-calc(26);
}