$google-tabs-height: rem-calc(44);

.th-google-tabs {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: $google-tabs-height;
  overflow: hidden;

  &.active {
    height: auto;
  }

  @include breakpoint(medium-large) {
    width: auto;
    height: auto;
    white-space: nowrap;
    display: inline-block;
  }
}

.th-google-tabs__tab,
.title-bar .th-google-tabs__tab {
  display: block;

  > a {
    color: rgba($white-color, 0.6);
    display: block;
    padding: 0 rem-calc(24);
    text-transform: uppercase;
    font-size: rem-calc(14);
    font-weight: bold;
    line-height: $google-tabs-height;

    &.active {
      color: $white-color;
      background-color: rgba(255, 255, 255, 0.16);
      border-left: 2px solid $white-color;
    }

    &:hover {
      color: $white-color;
    }
  }

  @include breakpoint(medium-large) {
    display: inline-block;
    padding: 0;

    > a {
      &.active {
        border-left-width: 0;
        background-color: rgba(0,0,0,0);
        border-bottom: 2px solid $white-color;
      }
    }
  }
}

.th-google-tabs__mobile-nav {
  height: $google-tabs-height;
  line-height: $google-tabs-height;
  padding: 0 $global-padding;

  button {
    margin-top: -2px;
    vertical-align: middle;
  }

  @include breakpoint(medium-large) {
    display: none;
  }
}