.l-main {
  height: auto;
  margin: $global-padding rem-calc(30);
  overflow: visible;

  @include breakpoint(medium) {
    margin: rem-calc(40) $global-padding;
  }

  @include breakpoint(large) {
    margin-left: rem-calc(24);
    margin-right: rem-calc(24);
  }
}