.l-main {
  margin: $global-padding;
  overflow: visible;

  @include breakpoint(medium) {
    margin-top: rem-calc(40);
    margin-bottom: rem-calc(40);
  }

  @include breakpoint(large) {
    margin-left: rem-calc(24);
    margin-right: rem-calc(24);
  }
}