@import 'settings';
@import 'foundation/foundation';

@import 'base/defaults';

@import 'extensions/foundation';

@import 'classes/google';

@import 'themes/google/button';
@import 'themes/google/tabs';
@import 'themes/google/navigation';
@import 'themes/google/sidebar';

@import 'layouts/main';
@import 'layouts/g-maps';

@import 'components/headers';

@import 'helpers/margin';
@import 'helpers/padding';
@import 'helpers/colors';
@import 'helpers/misc';

  .shaa-label {
    display: inline-block;
    font-size: 16px;
    padding: 4px 8px;
    background: #337ab7;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
  }

  .shaa-overlay {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    opacity: 0.8;
    background: #4477aa;
    border:solid 3px #336699;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #333;
    text-shadow: 1px 1px 1px #666;
    padding: 0 8px;
  }

  .overlay_arrow {
    left: 50%;
    margin-left: -16px;
    width: 0;
    height: 0;
    position: absolute;
  }

  .overlay_arrow.above {
    bottom: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #336699;
  }

  .overlay_arrow.below {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #336699;
  }