<div class="gmaps-snippet">
  <header>{{header}}</header>
  <code>
    <div class="gist">
      <div class="gist-file">
        <div class="gist-data">
          <div class="js-gist-file-update-container js-task-list-container file-box">
            <div id="file-templa-hbs" class="file">
              <div class="blob-wrapper data type-{{type}}">
                {{yield this}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </code>
</div>
