<aside class="grid-block medium-2 vertical l-sidebar">
  <nav class="th-google-sidebar">
    <ul class="th-google-sidebar__links">
      <li>{{#link-to 'setup.index'}}Installation{{/link-to}}</li>
      <li>
        <strong>Configuration</strong>
        <a>contentSecurityPolicy</a>
        <a>API Key</a>
        <a>Adding Libraries</a>
        <a>Misc Options</a>
      </li>
    </ul>
  </nav>
</aside>

<div class="grid-block medium-10 vertical">
  <div class="grid-content -np">
    {{outlet}}
  </div>
</div>