<p class="medium-7 large-4">Thanks to Ember-CLI installing <strong class="-nowrap">ember-cli-g-maps</strong> couldn't be simpler.  Just cd into an Ember-CLI project and type this command in your terminal:</p>

<div class="gmaps-snippet -lmb">
  <header>Install</header>
  <code>
    <div class="gist">
      <div class="gist-file">
        <div class="gist-data">
          <div class="js-gist-file-update-container js-task-list-container file-box">
            <div id="file-ember-cli-g-maps_install-sh" class="file">
              <div class="blob-wrapper data type-shell">
                <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                  <tbody><tr>
                    <td id="file-ember-cli-g-maps_install-sh-L1" class="blob-num js-line-number" data-line-number="1"></td>
                    <td id="file-ember-cli-g-maps_install-sh-LC1" class="blob-code blob-code-inner js-file-line">ember install ember-cli-g-maps</td>
                  </tr>
                </tbody></table>
              </div>
            </div>
          </div>
        </div>
        <div class="gist-meta">
          <a href="https://gist.github.com/Matt-Jensen/3059242a2e470410fc98/raw/8c1dcb121ee3c44109c9817639cc7f5830c3b673/ember-cli-g-maps_install.sh" style="float:right">view raw</a>
          <a href="https://gist.github.com/Matt-Jensen/3059242a2e470410fc98#file-ember-cli-g-maps_install-sh">ember-cli-g-maps_install.sh</a>
          hosted with ❤ by <a href="https://github.com">GitHub</a>
        </div>
      </div>
    </div>
  </code>
</div>

<p class="medium-7 large-4">
  Unfortunately we are not done yet! As is serving your ember app with <span class="gmaps-inline-code">ember serve</span> will generate content security issues, however this is easy to fix. Simply go to 
  <ul class="gmaps-inline-file-path"><li>config</li><li>environment.js</li></ul> and include the following JSON:
</p>

<div class="gmaps-snippet -lmb">
  <header>config/environment.js</header>
  <code>
    <div class="gist">
      <div class="gist-file">
        <div class="gist-data">
          <div class="js-gist-file-update-container js-task-list-container file-box">
            <div id="file-ember-cli-g-maps_config_environment-js" class="file">
              <div class="blob-wrapper data type-javascript">
                <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                  <tbody><tr>
                    <td id="file-ember-cli-g-maps_config_environment-js-L1" class="blob-num js-line-number" data-line-number="1"></td>
                    <td id="file-ember-cli-g-maps_config_environment-js-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">ENV</span>.contentSecurityPolicy <span class="pl-k">=</span> {</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps_config_environment-js-L2" class="blob-num js-line-number" data-line-number="2"></td>
                    <td id="file-ember-cli-g-maps_config_environment-js-LC2" class="blob-code blob-code-inner js-file-line">  <span class="pl-s"><span class="pl-pds">'</span>default-src<span class="pl-pds">'</span></span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>'none'<span class="pl-pds">"</span></span>,</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps_config_environment-js-L3" class="blob-num js-line-number" data-line-number="3"></td>
                    <td id="file-ember-cli-g-maps_config_environment-js-LC3" class="blob-code blob-code-inner js-file-line">  <span class="pl-s"><span class="pl-pds">'</span>script-src<span class="pl-pds">'</span></span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>'self' 'unsafe-eval' *.googleapis.com maps.gstatic.com<span class="pl-pds">"</span></span>,</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps_config_environment-js-L4" class="blob-num js-line-number" data-line-number="4"></td>
                    <td id="file-ember-cli-g-maps_config_environment-js-LC4" class="blob-code blob-code-inner js-file-line">  <span class="pl-s"><span class="pl-pds">'</span>font-src<span class="pl-pds">'</span></span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>'self' fonts.gstatic.com<span class="pl-pds">"</span></span>,</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps_config_environment-js-L5" class="blob-num js-line-number" data-line-number="5"></td>
                    <td id="file-ember-cli-g-maps_config_environment-js-LC5" class="blob-code blob-code-inner js-file-line">  <span class="pl-s"><span class="pl-pds">'</span>connect-src<span class="pl-pds">'</span></span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>'self' maps.gstatic.com<span class="pl-pds">"</span></span>,</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps_config_environment-js-L6" class="blob-num js-line-number" data-line-number="6"></td>
                    <td id="file-ember-cli-g-maps_config_environment-js-LC6" class="blob-code blob-code-inner js-file-line">  <span class="pl-s"><span class="pl-pds">'</span>img-src<span class="pl-pds">'</span></span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>'self' *.googleapis.com maps.gstatic.com csi.gstatic.com<span class="pl-pds">"</span></span>,</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps_config_environment-js-L7" class="blob-num js-line-number" data-line-number="7"></td>
                    <td id="file-ember-cli-g-maps_config_environment-js-LC7" class="blob-code blob-code-inner js-file-line">  <span class="pl-s"><span class="pl-pds">'</span>style-src<span class="pl-pds">'</span></span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>'self' 'unsafe-inline' fonts.googleapis.com maps.gstatic.com<span class="pl-pds">"</span></span></td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps_config_environment-js-L8" class="blob-num js-line-number" data-line-number="8"></td>
                    <td id="file-ember-cli-g-maps_config_environment-js-LC8" class="blob-code blob-code-inner js-file-line">};</td>
                  </tr>
                </tbody></table>
              </div>
            </div>
          </div>
        </div>
        <div class="gist-meta">
          <a href="https://gist.github.com/Matt-Jensen/55583c86cdb36ba05d26/raw/d3f600f6c123e261e8a6427728f55f682a7336b6/ember-cli-g-maps_config_environment.js" style="float:right">view raw</a>
          <a href="https://gist.github.com/Matt-Jensen/55583c86cdb36ba05d26#file-ember-cli-g-maps_config_environment-js">ember-cli-g-maps_config_environment.js</a>
          hosted with ❤ by <a href="https://github.com">GitHub</a>
        </div>
      </div>
    </div>
  </code>
</div>

<p class="medium-7 large-4">
  Don't forget! You'll most likely want to see the map you're requesting, so be sure your map container some height.
</p>

<div class="gmaps-snippet">
  <header>styles/app.css</header>
  <code>
    <div class="gist">
      <div class="gist-file">
        <div class="gist-data">
          <div class="js-gist-file-update-container js-task-list-container file-box">
            <div id="file-ember-cli-g-maps__app-css" class="file">
              <div class="blob-wrapper data type-css">
                <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                  <tbody><tr>
                    <td id="file-ember-cli-g-maps__app-css-L1" class="blob-num js-line-number" data-line-number="1"></td>
                    <td id="file-ember-cli-g-maps__app-css-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-e">.ember-cli-g-map</span> {</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-css-L2" class="blob-num js-line-number" data-line-number="2"></td>
                    <td id="file-ember-cli-g-maps__app-css-LC2" class="blob-code blob-code-inner js-file-line">    <span class="pl-c1"><span class="pl-c1">height</span></span>: <span class="pl-c1">300<span class="pl-k">px</span></span>;</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-css-L3" class="blob-num js-line-number" data-line-number="3"></td>
                    <td id="file-ember-cli-g-maps__app-css-LC3" class="blob-code blob-code-inner js-file-line">}</td>
                  </tr>
                </tbody></table>
              </div>
            </div>
          </div>
        </div>
        <div class="gist-meta">
          <a href="https://gist.github.com/Matt-Jensen/65049864c0fe4c81acd2/raw/1a09c10310022d0a03a880e16970a252605ffd66/ember-cli-g-maps__app.css" style="float:right">view raw</a>
          <a href="https://gist.github.com/Matt-Jensen/65049864c0fe4c81acd2#file-ember-cli-g-maps__app-css">ember-cli-g-maps__app.css</a>
          hosted with ❤ by <a href="https://github.com">GitHub</a>
        </div>
      </div>
    </div>
  </code>
</div>
