<h2>Feature Coming Soon!</h2>

<p class="medium-7 large-5">
  The <span class="gmaps-inline-code">refresh</span> method takes a map instance and triggers a reloading of that google map instance.  If no map name is provided all gmaps will be refreshed.  Handy if you must resize map container elements with javascript.
</p>