<h2>Demo</h2>
<div class="-mb">
  {{g-autocomplete on-select=(action 'showCoordinates')}}
</div>

{{#if lat}}
  <p class='medium-7 large-5'>
  Latitude: <span class='lat'>{{lat}}</span>
  </p>
{{/if}}

{{#if lng}}
  <p>
  Longitude: <span class='long'>{{lng}}</span>
  </p>
{{/if}}

{{#if address}}
  <p>
  Address: {{address}}
  </p>
{{/if}}

<h2>Setup</h2>
<p class='medium-7 large-5'>
  To use the place autocomplete component, add the <div class='gmaps-inline-code'>places</div> library.
</p>

<div class='gmaps-snippet'>
  <header>config/environment.js</header>
  <code>
    <div class='gist'>
      <div class='gist-file'>
        <div class='gist-data'>
          <div class="js-gist-file-update-container js-task-list-container file-box">
            <div id='file-ember-cli-g-maps__app-js' class="file">
              <div class='blob-wrapper data type-javascript'>
                <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                  <tbody><tr>
                      <td id="file-example-js-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-example-js-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">ENV</span>.<span class="pl-smi">googleMap</span> <span class="pl-k">=</span> {</td>
                    </tr>
                    <tr>
                      <td id="file-example-js-L2" class="blob-num js-line-number" data-line-number="2"></td>
                      <td id="file-example-js-LC2" class="blob-code blob-code-inner js-file-line"> libraries<span class="pl-k">:</span> [<span class="pl-s"><span class="pl-pds">'</span>places<span class="pl-pds">'</span></span>] </td>
                    </tr>
                    <tr>
                      <td id="file-example-js-L3" class="blob-num js-line-number" data-line-number="3"></td>
                      <td id="file-example-js-LC3" class="blob-code blob-code-inner js-file-line">}</td>
                    </tr>
                  </tbody></table>
              </div>
            </div>
          </div>
        </div>

        <div class="gist-meta">
          made with ❤ by <a href="https://github.com">GitHub</a>
        </div>
      </div>
    </div>
  </code>
</div>


<h2>Basic Usage</h2>

<p class='medium-7 large-5'>
A closure action must be passed to <div class='gmaps-inline-code'>on-select</div>. Expect this action to be triggered when the user enters an address and selects an autocomplete option. Your closure action should take as param, an object like <div class='gmaps-inline-code'>{ lat: -49, lng: -123, place: place}</div>. <div class='gmaps-inline-code'>place</div> is a <a href="https://developers.google.com/maps/documentation/javascript/3.exp/reference#MarkerPlace" target="_blank">MarkerPlace</a> object.
</p>

<div class='gmaps-snippet'>
  <header>Example</header>
  <code>
    <div class='gist'>
      <div class='gist-file'>
        <div class='gist-data'>
          <div class='js-gist-file-update-container js-task-list-container file-box'>
            <div id='file-templa-hbs' class='file'>
              <div class='blob-wrapper data type-handlebars'>
                <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                  <tbody><tr>
                      <td id="file-example-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-example-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-autocomplete</span> <span class="pl-e"><span class="pl-v"></span></span><span class="pl-e"><span class="pl-v">value=address</span> <span class="pl-v">on-select=</span></span>(<span class="pl-e"><span class="pl-v">action</span> </span><span class="pl-s"><span class="pl-pds">'</span>didUpdatePlace<span class="pl-pds">'</span></span>)<span class="pl-c1">}}</span></td>
                    </tr>
                  </tbody></table>
              </div>
            </div>
          </div>
        </div>
        <div class="gist-meta">
          made with ❤ by <a href="https://github.com">GitHub</a>
        </div>
      </div>
    </div>
  </code>
</div>

<h2>Options</h2>

<p class='medium-7 large-5'>
You can pass a POJO of options to Autocomplete instance, the configuration of which is <a href="https://developers.google.com/maps/documentation/javascript/3.exp/reference#AutocompleteOptions" target="_blank">documented here</a>.
This component is an extention of an <a href="http://emberjs.com/api/classes/Ember.TextField.html" target="_blank">Ember TextField</a> input element and applies all the same properties.
</p>

<div class='gmaps-snippet'>
  <header>Example</header>
  <code>
    <div class='gist'>
      <div class='gist-file'>
        <div class='gist-data'>
          <div class='js-gist-file-update-container js-task-list-container file-box'>
            <div id='file-templa-hbs' class='file'>
              <div class='blob-wrapper data type-handlebars'>
                <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                  <tbody><tr>
                      <td id="file-example-hbs-L1" class="blob-num js-line-number" data-line-number="1"></td>
                      <td id="file-example-hbs-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-c1">\{{</span><span class="pl-v">g-autocomplete</span> <span class="pl-e"><span class="pl-v"></span></span><span class="pl-e"><span class="pl-v">class="form-input"</span> <span class="pl-v">options=myOptions</span>}}</span></td>
                    </tr>
                  </tbody></table>
              </div>
            </div>
          </div>
        </div>
        <div class="gist-meta">
          made with ❤ by <a href="https://github.com">GitHub</a>
        </div>
      </div>
    </div>
  </code>
</div>

<h2>Testing</h2>

<p class='medium-7 large-5'>
  An acceptance test helper
  <div class='gmaps-inline-code'>selectPlace</div> is provided to fake the action of selecting an autocomplete suggestion.
</p>

<div class="gmaps-snippet -lmb">
  <header>tests/acceptance/g-autocomplete-test.js</header>
  <code>
    <div class="gist">
      <div class="gist-file">
        <div class="gist-data">
          <div class="js-gist-file-update-container js-task-list-container file-box">
            <div id="file-ember-cli-g-maps__app-js" class="file">
              <div class="blob-wrapper data type-javascript">
<table class="highlight tab-size js-file-line-container" data-tab-size="8">
      <tbody><tr>
        <td id="file-test-js-L1" class="blob-num js-line-number" data-line-number="1"></td>
        <td id="file-test-js-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-k">import</span> <span class="pl-smi">gMapsSetupTest</span> <span class="pl-k">from</span> <span class="pl-s"><span class="pl-pds">'</span>../helpers/ember-cli-g-maps/setup-test<span class="pl-pds">'</span></span>;</td>
      </tr>
      <tr>
        <td id="file-test-js-L2" class="blob-num js-line-number" data-line-number="2"></td>
        <td id="file-test-js-LC2" class="blob-code blob-code-inner js-file-line">
</td>
      </tr>
      <tr>
        <td id="file-test-js-L3" class="blob-num js-line-number" data-line-number="3"></td>
        <td id="file-test-js-LC3" class="blob-code blob-code-inner js-file-line"><span class="pl-en">moduleForAcceptance</span>(<span class="pl-s"><span class="pl-pds">'</span>Acceptance | basic-usage/autocomplete<span class="pl-pds">'</span></span>, {</td>
      </tr>
      <tr>
        <td id="file-test-js-L4" class="blob-num js-line-number" data-line-number="4"></td>
        <td id="file-test-js-LC4" class="blob-code blob-code-inner js-file-line">  <span class="pl-en">beforeEach</span>() {</td>
      </tr>
      <tr>
        <td id="file-test-js-L5" class="blob-num js-line-number" data-line-number="5"></td>
        <td id="file-test-js-LC5" class="blob-code blob-code-inner js-file-line">    <span class="pl-en">gMapsSetupTest</span>(<span class="pl-v">this</span>);</td>
      </tr>
      <tr>
        <td id="file-test-js-L6" class="blob-num js-line-number" data-line-number="6"></td>
        <td id="file-test-js-LC6" class="blob-code blob-code-inner js-file-line">  }</td>
      </tr>
      <tr>
        <td id="file-test-js-L7" class="blob-num js-line-number" data-line-number="7"></td>
        <td id="file-test-js-LC7" class="blob-code blob-code-inner js-file-line">});</td>
      </tr>
      <tr>
        <td id="file-test-js-L8" class="blob-num js-line-number" data-line-number="8"></td>
        <td id="file-test-js-LC8" class="blob-code blob-code-inner js-file-line">
</td>
      </tr>
      <tr>
        <td id="file-test-js-L9" class="blob-num js-line-number" data-line-number="9"></td>
        <td id="file-test-js-LC9" class="blob-code blob-code-inner js-file-line"><span class="pl-en">test</span>(<span class="pl-s"><span class="pl-pds">'</span>visiting /basic-usage/autocomplete<span class="pl-pds">'</span></span>, <span class="pl-k">function</span>(<span class="pl-smi">assert</span>) {</td>
      </tr>
      <tr>
        <td id="file-test-js-L10" class="blob-num js-line-number" data-line-number="10"></td>
        <td id="file-test-js-LC10" class="blob-code blob-code-inner js-file-line">  <span class="pl-en">visit</span>(<span class="pl-s"><span class="pl-pds">'</span>/basic-usage/autocomplete<span class="pl-pds">'</span></span>);</td>
      </tr>
      <tr>
        <td id="file-test-js-L11" class="blob-num js-line-number" data-line-number="11"></td>
        <td id="file-test-js-LC11" class="blob-code blob-code-inner js-file-line">
</td>
      </tr>
      <tr>
        <td id="file-test-js-L12" class="blob-num js-line-number" data-line-number="12"></td>
        <td id="file-test-js-LC12" class="blob-code blob-code-inner js-file-line">  <span class="pl-en">andThen</span>(<span class="pl-k">function</span>() {</td>
      </tr>
      <tr>
        <td id="file-test-js-L13" class="blob-num js-line-number" data-line-number="13"></td>
        <td id="file-test-js-LC13" class="blob-code blob-code-inner js-file-line">    <span class="pl-smi">assert</span>.<span class="pl-en">equal</span>(<span class="pl-en">currentURL</span>(), <span class="pl-s"><span class="pl-pds">'</span>/basic-usage/autocomplete<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>visit correct path<span class="pl-pds">'</span></span>);</td>
      </tr>
      <tr>
        <td id="file-test-js-L14" class="blob-num js-line-number" data-line-number="14"></td>
        <td id="file-test-js-LC14" class="blob-code blob-code-inner js-file-line">    <span class="pl-smi">assert</span>.<span class="pl-en">ok</span>(<span class="pl-en">find</span>(<span class="pl-s"><span class="pl-pds">'</span>.g-autocomplete<span class="pl-pds">'</span></span>).<span class="pl-c1">length</span> <span class="pl-k">&gt;</span> <span class="pl-c1">0</span>, <span class="pl-s"><span class="pl-pds">'</span>g-autocomplete component was rendered<span class="pl-pds">'</span></span>);</td>
      </tr>
      <tr>
        <td id="file-test-js-L15" class="blob-num js-line-number" data-line-number="15"></td>
        <td id="file-test-js-LC15" class="blob-code blob-code-inner js-file-line">  });</td>
      </tr>
      <tr>
        <td id="file-test-js-L16" class="blob-num js-line-number" data-line-number="16"></td>
        <td id="file-test-js-LC16" class="blob-code blob-code-inner js-file-line">
</td>
      </tr>
      <tr>
        <td id="file-test-js-L17" class="blob-num js-line-number" data-line-number="17"></td>
        <td id="file-test-js-LC17" class="blob-code blob-code-inner js-file-line">  <span class="pl-en">selectPlace</span>({ lat<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>123<span class="pl-pds">'</span></span>, long<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>456<span class="pl-pds">'</span></span> });</td>
      </tr>
      <tr>
        <td id="file-test-js-L18" class="blob-num js-line-number" data-line-number="18"></td>
        <td id="file-test-js-LC18" class="blob-code blob-code-inner js-file-line">
</td>
      </tr>
      <tr>
        <td id="file-test-js-L19" class="blob-num js-line-number" data-line-number="19"></td>
        <td id="file-test-js-LC19" class="blob-code blob-code-inner js-file-line">  <span class="pl-en">andThen</span>(() <span class="pl-k">=&gt;</span> {</td>
      </tr>
      <tr>
        <td id="file-test-js-L20" class="blob-num js-line-number" data-line-number="20"></td>
        <td id="file-test-js-LC20" class="blob-code blob-code-inner js-file-line">    <span class="pl-smi">assert</span>.<span class="pl-en">equal</span>(<span class="pl-en">$</span>(<span class="pl-s"><span class="pl-pds">'</span>.lat<span class="pl-pds">'</span></span>).<span class="pl-c1">text</span>().<span class="pl-en">trim</span>(), <span class="pl-s"><span class="pl-pds">'</span>123<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>showing correct latitude<span class="pl-pds">'</span></span>);</td>
      </tr>
      <tr>
        <td id="file-test-js-L21" class="blob-num js-line-number" data-line-number="21"></td>
        <td id="file-test-js-LC21" class="blob-code blob-code-inner js-file-line">    <span class="pl-smi">assert</span>.<span class="pl-en">equal</span>(<span class="pl-en">$</span>(<span class="pl-s"><span class="pl-pds">'</span>.long<span class="pl-pds">'</span></span>).<span class="pl-c1">text</span>().<span class="pl-en">trim</span>(), <span class="pl-s"><span class="pl-pds">'</span>456<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>showing correct longitude<span class="pl-pds">'</span></span>);</td>
      </tr>
      <tr>
        <td id="file-test-js-L22" class="blob-num js-line-number" data-line-number="22"></td>
        <td id="file-test-js-LC22" class="blob-code blob-code-inner js-file-line">  });</td>
      </tr>
      <tr>
        <td id="file-test-js-L23" class="blob-num js-line-number" data-line-number="23"></td>
        <td id="file-test-js-LC23" class="blob-code blob-code-inner js-file-line">});</td>
      </tr>
</tbody></table>
              </div>
            </div>
          </div>
        </div>
        <div class="gist-meta">
          made with ❤ by <a href="https://github.com">GitHub</a>
        </div>
      </div>
    </div>
  </code>
</div>
