<h2>Feature Coming Soon!</h2>

<p class="medium-7 large-5">
  The <span class="gmaps-inline-code">SuggestFrame</span> method will take an array of map elements by category, along with the name of your map instance, and any desired padding to return a suggest a new latitude, longitude, and zoom for your map. Handy if that your payload of data could be scattered all over the map.
</p>