<h2>Feature Coming Soon!</h2>

<p class="medium-7 large-5">
  The <span class="gmaps-inline-code">travelRoute</span> method will allow you to generate a route between two coordinates and/or geocodes.  Routes are an array of steps to get from the origin to the destination.  Once you have created your route you can drive the route by specifying what step the route is on in your parent scope. For an example of this feature in action checkout: <a href="https://hpneo.github.io/gmaps/examples/travel_route.html" target="_blank">Gmaps Travel Routes</a>
</p>