<h2>Circle</h2>

<p class="medium-7 large-5">
  The circle selector allows users to select a radius on the map. Circle selectors are configured via the selections object and support many of the Google Map <a href="https://developers.google.com/maps/documentation/javascript/3.exp/reference#CircleOptions" target="_blank">Circle Options</a>.  Circle selection events are bound via the <span class="gmaps-inline-code">selectionsCircle</span> component action.
</p>

<div class="gmaps-snippet -lmb">
  <header>Configuring</header>
  <code>
    <div class="gist">
      <div class="gist-file">
        <div class="gist-data">
          <div class="js-gist-file-update-container js-task-list-container file-box">
            <div id="file-ember-cli-g-maps__app-js" class="file">
              <div class="blob-wrapper data type-javascript">
                <table class="highlight tab-size js-file-line-container" data-tab-size="8">
                  <tbody><tr>
                    <td id="file-ember-cli-g-maps__app-js-L1" class="blob-num js-line-number" data-line-number="1"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC1" class="blob-code blob-code-inner js-file-line"><span class="pl-k">export</span> <span class="pl-k">default</span> Ember.Route.extend({</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L2" class="blob-num js-line-number" data-line-number="2"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC2" class="blob-code blob-code-inner js-file-line">  <span class="pl-en">setupController</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">controller</span>) {</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L3" class="blob-num js-line-number" data-line-number="3"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC3" class="blob-code blob-code-inner js-file-line">    controller.setProperties({</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L4" class="blob-num js-line-number" data-line-number="4"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC4" class="blob-code blob-code-inner js-file-line">      selections<span class="pl-k">:</span> {</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L5" class="blob-num js-line-number" data-line-number="5"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC5" class="blob-code blob-code-inner js-file-line">        circleOptions<span class="pl-k">:</span> {</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L6" class="blob-num js-line-number" data-line-number="6"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC6" class="blob-code blob-code-inner js-file-line">          fillColor<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>#288edf<span class="pl-pds">'</span></span>,</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L7" class="blob-num js-line-number" data-line-number="7"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC7" class="blob-code blob-code-inner js-file-line">          fillOpacity<span class="pl-k">:</span> <span class="pl-c1">0.4</span>,</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L8" class="blob-num js-line-number" data-line-number="8"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC8" class="blob-code blob-code-inner js-file-line">          strokeColor<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>#6fb5f1<span class="pl-pds">'</span></span>,</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L9" class="blob-num js-line-number" data-line-number="9"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC9" class="blob-code blob-code-inner js-file-line">          strokeOpacity<span class="pl-k">:</span> <span class="pl-c1">1</span>,</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L10" class="blob-num js-line-number" data-line-number="10"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC10" class="blob-code blob-code-inner js-file-line">          strokeWeight<span class="pl-k">:</span> <span class="pl-c1">3</span>,</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L11" class="blob-num js-line-number" data-line-number="11"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC11" class="blob-code blob-code-inner js-file-line">          strokePosition<span class="pl-k">:</span> google.maps.StrokePosition.CENTER, <span class="pl-c">// INSIDE | OUTSIDE</span></td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L12" class="blob-num js-line-number" data-line-number="12"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC12" class="blob-code blob-code-inner js-file-line">          zIndex<span class="pl-k">:</span> <span class="pl-c1">999</span></td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L13" class="blob-num js-line-number" data-line-number="13"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC13" class="blob-code blob-code-inner js-file-line">        }</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L14" class="blob-num js-line-number" data-line-number="14"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC14" class="blob-code blob-code-inner js-file-line">      }</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L15" class="blob-num js-line-number" data-line-number="15"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC15" class="blob-code blob-code-inner js-file-line">    });</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L16" class="blob-num js-line-number" data-line-number="16"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC16" class="blob-code blob-code-inner js-file-line">  }</td>
                  </tr>
                  <tr>
                    <td id="file-ember-cli-g-maps__app-js-L17" class="blob-num js-line-number" data-line-number="17"></td>
                    <td id="file-ember-cli-g-maps__app-js-LC17" class="blob-code blob-code-inner js-file-line">});</td>
                  </tr>
                </tbody></table>
              </div>
            </div>
          </div>
        </div>
        <div class="gist-meta">
          made with ❤ by <a href="https://github.com">GitHub</a>
        </div>
      </div>
    </div>
  </code>
</div>