<h2 id="title">
  Sweet Home Alabama App

  <ul class="nav-links">
    <li>{{#link-to 'index'}}Map{{/link-to}}</li>
    <li>
      {{#link-to 'destroy'}}Destroy{{/link-to}}
    </li>
  </ul>

  <div style="display: inline-block; float: right;">
    <button {{action "toggleSelections"}}>Toggle Selections</button>
    <button {{action "toggleHeatmap"}}>Toggle Heatmap</button>
    <button {{action "removeAllMarkers"}}>Remove Markers</button>
  </div>
</h2>

{{outlet}}
