<h2>Feature Coming Soon!</h2>

<p class="medium-7 large-5">
  The <span class="gmaps-inline-code">geocode</span> if given an address will return a promise, that if successfully resolved, will return a [lat, lng] array.  If given a [lat, lng] array will do reverse geocode returning a promise that, if successful, will resolve a human readable address or place.  Will likely allow for placeID support as will.
</p>