<h2>Feature Coming Soon!</h2>

<p class="medium-7 large-5">
  The <span class="gmaps-inline-code">geocode</span> if given a human readable address will return a promise, that if successfully resolved, will return a [lat, lng] array.  If given both lat and lng coordinates will do reverse geocode returning a promise that, if successful, will resolve a human readable address or place. You can read more about the <a href="https://developers.google.com/maps/documentation/geocoding/intro" target="_blank">Google Maps Geocoding API here</a>
</p>